trigger: none   # This pipeline should only run manually

pool:
  name: Default   # Change if your self-hosted agent pool has a different name

steps:
- task: TerraformInstaller@1
  displayName: 'Install Terraform'
  inputs:
    terraformVersion: 'latest'

# Terraform Init (needed before import)
- task: TerraformTaskV4@4
  displayName: 'Terraform Init'
  inputs:
    provider: azurerm
    command: init
    backendServiceArm: azure-service-connection
    backendAzureRmResourceGroupName: my-tfstate-rg
    backendAzureRmStorageAccountName: mytfstateacc
    backendAzureRmContainerName: tfstate
    backendAzureRmKey: terraform.tfstate
    environmentServiceNameAzureRM: azure-service-connection

# Terraform Import step
- task: TerraformTaskV4@4
  displayName: 'Terraform Import ResourceGroup'
  inputs:
    provider: azurerm
    command: import
    resourceAddress: 'azurerm_resource_group.example'
    resourceId: '/subscriptions/cd43f6f6-35d4-42e6-a8bc-efc6e2fb7aa2/resourceGroups/example-resources'
    environmentServiceNameAzureRM: azure-service-connection
